 <!-- ----------------------------  Navigation ---------------------------------------------- -->

 <nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="/" class="text-gray">Software Engineer Fitness</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a routerLink="/excercises" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Exercises</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/diets" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Diets</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/suppliments" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Supplements</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/steriods" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Steriods</a>
                </li>
                <li class="nav-link">
                    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About me</a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>

<!-- ------------x---------------  Navigation --------------------------x------------------- -->