<div class="clearfix"></div>
<app-carousel [story]="stories"></app-carousel>
<div class="row" id="content-wrapper">
  <div class="container">
    <div id="main-wrapper">
      <div class="main section" id="main" name="Main Posts">
        <div class="widget Blog" data-version="2" id="Blog1">
          <div class="blog-posts hfeed container item-post-wrap">
            <div class="blog-post hentry item-post">
              <div class="post-item-inner">
                <h1 class="post-title">About</h1>
                <div class="post-body post-content" id="post-body">
                  Hello Friends, Welcome to <strong>Apni Fitness</strong> blog
                  and here you will learn about Fitness and Bodybuilding. This
                  blog is about
                  <strong
                    >exercise, diets, supplements, steroids and many
                    more.</strong
                  >

                  <br /><br />My Aim is to provides healthy and happy
                  lifestyle. You can consider this blog as a personal trainer to
                  help your day-today queries related to fitness care. Before
                  post the article, i research and through my 2 years of experience in fitness industry, so i
                  bring the best article for you. Bodybuilding and fitness
                  comes from experience and knowledge. So, here i research a lot and implement over me and to provide best quality
                  content for you. <br /><br />
                  <h2 class="post-title" style="font-size: 18px; font-weight:bold;">Why we choose Apni Fitness?</h2>
                  <br /><br />Here i am providing basic to advance knowledge about
                  <strong>Fitness</strong> and <strong>Bodybuilding</strong>. As
                  i faced many difficulties to understand international diet
                  charts in many article from other blog, So i decided to create
                  such a blog to understand everything in hindi as well in
                  english. So, i brought it all in hindi and english.
                  <!-- , Does not
                  matter what food you eat with olive oil or musturd oil, you
                  should take care of your source of protien like milk, paneer,
                  chicken, egg and many more. -->
                   The language of the nation is one
                  of the reason and video format content that tells you why you
                  should choose apnifitness.com and not other website.<br /><br />
                  I also provide diets and exercise in a video(hover to play)
                  format as well as text format. <br /><br />Next Time, Do not
                  waste your time to search the diet plans and heavy exercises
                  in video format and text. You will get everything in one
                  place. You need to follow our apnifitness.com as an online
                  coach, inspiration, motivation and guide for the fitness.
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            var messages = {
              showMore: "Show more",
            };
          </script>
        </div>
      </div>
    </div>
    <app-sidebar
      [subCategory]="subCategories"
      [popularTag]="PopularTags"
      [popularArticles]="popularArt"
    ></app-sidebar>
  </div>
</div>
<div class="clearfix"></div>
