.exercise-title{
    background: url('https://res.cloudinary.com/sameercloud/image/upload/v1657542143/Exercise_kcnhln.png');
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.exercise-title .site-background{
    padding-top: 5rem;
    text-align: center;
    color: var(--white);
}

.exercise-title h1, h3{
    margin: .3rem;
}