<main>
    <!--Exercise Banner-->
    <section class="steriod-title">
      <div class="site-background" data-aos="fade-up" data-aos-delay="100">
        <h1>Steriods</h1>
        <h3>Use on a safer side</h3>
      </div>
    </section>
  
    <!-----------Exercise Banner end------------>
  
    <section class="container">
      <div class="site-content">
        <div class="posts">
          <app-post-content></app-post-content>
        <hr>
        <app-post-content></app-post-content>
        <hr>
        <app-post-content></app-post-content>
        <hr>
        <app-post-content></app-post-content>
        <hr>
        <app-post-content></app-post-content>
          <div class="pagination flex-row">
            <section class="loadMoreSection">
              <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <button class="btn">Load More</button>
              </div>
            </section>
          </div>
        </div>
        <aside class="sidebar">
          <app-sidebar></app-sidebar>
        </aside>
      </div>
    </section>
  </main>