<div class="category">
  <h2>Category</h2>
  <ul class="category-list">
    <li *ngFor="let subCat of subCategory" class="list-items">
      <a style="cursor: pointer;"
        (click)="showArticleDetailByCategory(subCat.categoryName,subCat.categoryId,subCat.id)">{{subCat.subCategoryName}}</a>
      <span>({{subCat.cntArticles}})</span>
    </li>
  </ul>
</div>
<div class="popular-post">
  <h2>Popular Post</h2>
  <div class="post-content" *ngFor="let item of popularArticles;">
    <div class="post-image">
      <div>
        <img src="{{ImageUrl}}{{item.image}}" class="img" alt="blog1">
      </div>
      <div class="post-info flex-row">
        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{item.insertedDate | date}}</span>
        <span>2 Commets</span>
      </div>
    </div>
    <div class="post-title">
      <a style="cursor: pointer;" (click)="showArticleDetail(item.categoryName,item.categoryId, item.id)" >{{item.heading}}</a>
    </div>
  </div>
</div>
<div class="newsletter">
  <h2>Newsletter</h2>
  <div class="form-element">
    <input type="text" class="input-element" placeholder="Email" #subscribeEmail>
    <button class="btn form-btn" (click)="AddSubscribers(subscribeEmail)">Subscribe</button>
  </div>
</div>
<div class="popular-tags">
  <h2>Popular Tags</h2>
  <div class="tags flex-row">
    <span *ngFor="let popTags of popularTag;" class="tag" >
      <a style="cursor: pointer;"
        (click)="showArticleDetailByCategory(popTags.categoryName,popTags.categoryId,popTags.id)">{{popTags.subCategoryName}}</a>
    </span>


  </div>
</div>