<hr>
<div class="post-content">
    <div class="post-image">
      <div>
        <img src="{{ImageUrl}}{{article.image}}" class="img" alt="blog1">
      </div>
      <div class="post-info flex-row">
        <span><i class="fas fa-eye text-gray"></i>&nbsp;&nbsp;1.2M</span>
        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14, 2019</span>
        <span>2 Comments</span>
      </div>
    </div>
    <div class="post-title">
      <a style="cursor:pointer;" (click)="showArticleDetail(article.categoryName,article.categoryId, article.id)">{{article.heading}}</a>
      <div [innerHTML]="article.shortArticle">
      </div>
      <button class="btn post-btn" (click)="showArticleDetail(article.categoryName,article.categoryId, article.id)">Read More &nbsp; <i class="fas fa-arrow-right"></i></button>
    </div>
  </div>
