<main>

  <section class="container">
    <div class="site-content" style="margin-top: 50px">
      <div class="posts">
        <div class="post-content">
          <div>
            <button *ngIf="languageInHindi" class="btnLanguage" (click)="changeLanguage(articleContent)">In English</button>
            <button *ngIf="!languageInHindi" class="btnLanguage" (click)="changeLanguage(articleContent)">In Hindi</button>
          </div>
          <div class="post-title">
            
            <a href="#">{{article.heading}}</a>
            
            <hr />
           
            <span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;Sameer Khan</span>
            &nbsp;&nbsp;
            <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{article.insertedDate | date}}</span>

          </div>
          <div class="post-image">
            <div>
              <img src="{{ImageUrl}}{{article.image}}" class="img" alt="blog1" />
            </div>
          </div>
          <div class="post-title"  #articleContent>
            <div *ngIf="!languageInHindi">
              <div [innerHTML]="article.articleInEnglish | safeHTML">
              </div>
            </div>
            <div *ngIf="languageInHindi">
              <div [innerHTML]="article.articleInHindi | safeHTML">
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidebar">
        <app-sidebar [subCategory]="subCategories" [popularTag]="PopularTags" [popularArticles]="popularArt"></app-sidebar>
      </aside>
    </div>
  </section>
</main>