<main>
  
  <!--Exercise Banner-->
  <section class="steriod-title" *ngIf="category.categoryImage" [ngStyle]="{background: 'url('+ImageUrl+category.categoryImage.replace('\\','/').replace('\\','/')+')', 'background-size': 'cover'}">
    
    <div class="site-background" >
      <h1>{{category.name}}</h1>
      <h3>{{category.quotes}}</h3>
    </div>
  </section>
 
 
  <!-----------Exercise Banner end------------>

  <section class="container">
    <div class="site-content">
      <div class="posts">
        <div *ngFor="let item of articles">
          <app-post-content [article]="item"></app-post-content>
        </div>
        <div class="pagination flex-row">
          <section class="loadMoreSection">
            <div
              class="site-background"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <button class="btn" *ngIf="this.articles.length>=5" (click)="LoadMoreArticles()">Load More</button>
            </div>
          </section>
        </div>
      </div>
      <aside class="sidebar">
          <app-sidebar [subCategory]="subCategories" [popularTag]="PopularTags" [popularArticles]="popularArt"></app-sidebar>
      </aside>
    </div>
  </section>
</main>
