.steriod-title{
  height: 40vh;
  display: flex;
  justify-content: center;
}

.steriod-title .site-background{
  padding-top: 5rem;
  text-align: center;
  color: var(--white);
}

.steriod-title h1, h3{
  margin: .3rem;
}
